* {
  border: 0;
  outline: none;
  text-decoration: none; }

.game-body {
  background: url(../images/vongquanh.jpg) no-repeat center top;
  min-height: 812px;
  background-size: cover;
  width: 100%;
  display: block;
  margin: auto;
  max-width: 550px;
  padding-bottom: 20px; }

.vongxoay {
  width: 310px;
  position: relative;
  margin: auto;
  margin-top: 20px !important; }
  .vongxoay .circle-bg {
    position: relative;
    width: 310px; }
    .vongxoay .circle-bg img {
      width: 100%;
      display: inline-block; }

.animation-circle {
  position: absolute;
  left: 0;
  top: 0;
  width: 310px; }
  .animation-circle img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }

.logo-title img {
  width: 100%; }

.ruler-gift {
  margin-bottom: 30px;
  color: white; }
  .ruler-gift h2 {
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px 20px;
    text-align: center; }

.head-add {
  display: inline-block;
  width: 100%;
  background: #fdbc0e;
  padding: 10px 0;
  text-align: center; }
  .head-add a {
    text-transform: uppercase;
    padding: 0 10px;
    color: white; }

.clik-vongquay {
  position: absolute;
  left: 120px;
  top: 120px;
  cursor: pointer;
  width: 70px; }
  .clik-vongquay img {
    width: 100%; }

.trungqua .modal-dialog {
  max-width: 550px;
  margin: auto;
  width: 550px; }

.content-popup {
  position: relative;
  margin-top: 100px; }
  .content-popup button {
    right: 5px;
    top: 5px;
    width: 34px;
    height: 34px;
    position: absolute;
    border-radius: 50%;
    border: 0;
    background: #feca00;
    opacity: 1;
    text-shadow: none;
    color: white;
    font-weight: normal; }

.modal-content {
  box-shadow: none;
  background: none; }

.modal-body {
  padding: 0; }
  .modal-body img {
    width: 100%; }

.content-themluot-popup ul {
  padding: 0; }
  .content-themluot-popup ul li {
    position: relative;
    display: inline-block;
    width: 100%;
    padding-bottom: 21px;
    margin-bottom: 11px; }
    .content-themluot-popup ul li::after {
      height: 3px;
      width: 180px;
      background: white;
      content: '';
      display: block;
      opacity: .3;
      bottom: 0;
      position: absolute;
      left: 29px; }
    .content-themluot-popup ul li b {
      color: white; }
    .content-themluot-popup ul li span {
      color: white;
      font-style: italic; }
    .content-themluot-popup ul li img {
      width: auto;
      margin-top: 10px; }
    .content-themluot-popup ul li:nth-last-child(1)::after {
      display: none !important; }

.themluot .content-popup {
  margin-top: 0; }
.themluot .content-popup button {
  right: 15px;
  top: 35px; }

.content-themluot-popup {
  position: absolute;
  left: 53px;
  top: 140px;
  width: 240px;
  height: 510px; }

.themluot-popup {
  width: 333px;
  height: 767px;
  background: url(../images/themluot-bg.png) no-repeat center;
  display: inline-block;
  width: 100%; }

.lichsu .themluot-popup {
  width: 333px;
  height: 767px;
  background: url(../images/trungiai-bg.png) no-repeat center;
  display: inline-block;
  width: 100%; }

.lichsu-tab ul {
  display: inline-block;
  padding: 0;
  position: absolute;
  left: 47px;
  top: 138px;
  width: 234px;
  border: 0; }
  .lichsu-tab ul li {
    display: inline-block;
    width: 50%;
    text-align: center; }
    .lichsu-tab ul li a {
      background: none !important;
      color: white !important;
      border: 0 !important;
      font-weight: bold;
      font-size: 16px;
      padding: 0; }
    .lichsu-tab ul li.active {
      position: relative; }
      .lichsu-tab ul li.active a {
        color: #fec00f !important;
        padding-bottom: 6px; }
      .lichsu-tab ul li.active::after {
        width: 40px;
        height: 2px;
        background: white;
        margin: auto;
        content: '';
        display: block; }
.lichsu-tab .tab-content {
  position: absolute;
  left: 53px;
  height: 480px;
  width: 234px;
  top: 181px;
  overflow-y: auto; }

.item-history {
  padding-left: 75px;
  position: relative;
  margin-bottom: 20px; }
  .item-history img {
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%; }
  .item-history .infor-voucher {
    display: inline-block;
    width: 100%; }
    .item-history .infor-voucher span {
      color: #fec00f; }
    .item-history .infor-voucher label {
      color: white;
      font-weight: bold;
      margin: 0; }
    .item-history .infor-voucher i {
      font-style: italic;
      font-size: 12px;
      color: white; }

.cocaugiaithuong {
  margin: 0; }
  .cocaugiaithuong .col-md-6 {
    float: left;
    width: 50%; }
  .cocaugiaithuong img {
    width: 100%;
    margin-bottom: 15px; }

.lutoconlai {
  display: inline-block;
  width: 100%;
  padding: 15px 0;
  margin: 0;
  color: white;
  margin-top: 16px;
  font-size: 18px;
  text-align: center; }
  .lutoconlai b {
    color: #fdbc0e; }

.moiluot-content {
  height: 416px;
  background: url(../images/moiluot.png) no-repeat center;
  display: inline-block;
  width: 333px; }

.moiluot-content2 {
  height: 416px;
  background: url(../images/mualuot-bg.png) no-repeat center !important;
  display: inline-block;
  width: 342px; }

.body-moiluot-choi {
  position: absolute;
  width: 230px;
  left: 53px;
  top: 130px; }
  .body-moiluot-choi a {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    text-align: center; }
    .body-moiluot-choi a img {
      width: auto; }
  .body-moiluot-choi ul {
    display: inline-block;
    padding: 0;
    width: 100%; }
    .body-moiluot-choi ul li {
      display: inline-block;
      width: 100%;
      padding-right: 30px;
      padding: 9px 0;
      position: relative; }
      .body-moiluot-choi ul li span {
        font-size: 16px;
        color: white; }
      .body-moiluot-choi ul li .coin-zema {
        position: absolute;
        right: 0;
        top: 0px; }
        .body-moiluot-choi ul li .coin-zema span {
          font-weight: bold;
          color: #fec00f; }
        .body-moiluot-choi ul li .coin-zema img {
          width: 20px;
          margin: auto; }

.body-moiluot {
  position: absolute;
  width: 250px;
  left: 43px;
  top: 90px;
  text-align: center; }
  .body-moiluot p {
    font-size: 16px;
    font-weight: bold;
    color: white; }
    .body-moiluot p b {
      color: #fec00f;
      font-size: 16px;
      margin: 20px 0 0;
      display: inline-block;
      width: 100%; }
  .body-moiluot input {
    background: white;
    height: 45px;
    border-radius: 10px;
    padding: 5px 10px;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px; }
  .body-moiluot img {
    width: auto; }

.modal-content {
  box-shadow: none;
  background: none;
  width: 333px;
  border: 0;
  margin: auto; }

@media only screen and (max-width: 551px) {
  .game-body {
    max-width: 100% !important; }

  .modal-dialog {
    max-width: 100% !important;
    margin: auto !important;
    width: 100% !important; } }
@media only screen and (max-width: 330px) {
  .head-add a {
    font-size: 12px; } }

/*# sourceMappingURL=style.css.map */
