*{
    border: 0;
    outline: none;
    text-decoration: none;
}
.game-body{
    background: url(../images/vongquanh.jpg) no-repeat center top;
    min-height: 812px;
    background-size: cover;
    width: 100%;
    display: block;
    margin: auto;
    max-width: 550px;
    padding-bottom: 20px;
}
.vongxoay{
    width: 310px;
    position: relative;
    margin: auto;
    margin-top: 20px !important;
    .circle-bg{
        position: relative;
        width: 310px;
        img{
            width: 100%;
            display: inline-block;
        }
    }
}
.animation-circle{
    position: absolute;
    left: 0;
    top: 0;
    width: 310px;
    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}
.logo-title{
    img{
        width: 100%;
    }
}
.ruler-gift{
    margin-bottom: 30px;
    color: white;
    h2{
        font-size: 20px;
    text-transform: uppercase;
    padding: 10px 20px;
    text-align: center;
    }

    p{

    }
}

.head-add{
    display: inline-block;
    width: 100%;
    background: #fdbc0e;
    padding: 10px 0;
    text-align: center;
    a{
        text-transform: uppercase;
        padding: 0 10px;
        color: white;
    }
}
.clik-vongquay{
    position: absolute;
    left: 120px;
    top: 120px;
    cursor: pointer;
    width: 70px;
    img{
        width: 100%;
    }
}

.trungqua{
    .modal-dialog{
        max-width: 550px;
        margin: auto;
        width: 550px;
    }
}
.content-popup{
    position: relative;
    margin-top: 100px;
    button{
        right: 5px;
        top: 5px;
        width: 34px;
        height: 34px;
        position: absolute;
        border-radius: 50%;
        border: 0;
        background: #feca00;
        opacity: 1;
        text-shadow: none;
        color: white;
        font-weight: normal;
    }
    
}
.modal-content{
    box-shadow: none;
    background: none;
}
.modal-body{
    padding: 0;
    img{
        width: 100%;
    }
    
}
.content-themluot-popup{
    ul{
        padding: 0;
        li{
            position: relative;
            display: inline-block;
            width: 100%;
            padding-bottom: 21px;
            margin-bottom: 11px;
            &::after{
                height: 3px;
                width: 180px;
                background: white;
                content: '';
                display: block;
                opacity: .3;
                bottom: 0;
                position: absolute;
                left: 29px;
            }
            b{
                color: white;
            }
            span{
                color: white;
                font-style: italic;
            }
            img{
width: auto;
margin-top: 10px;
            }
            &:nth-last-child(1){
                &::after{
                    display: none !important;
                }
            }
        }
    }
}
.themluot{
    .content-popup{
        margin-top: 0;
    }
    .content-popup button {
        right: 15px;
        top: 35px;
    }
}
.content-themluot-popup{
    position: absolute;
    left: 53px;
    top: 140px;
    width: 240px;
    height: 510px;
}
.themluot-popup{
    width: 333px;
    height: 767px;
    background: url(../images/themluot-bg.png) no-repeat center;
    display: inline-block;
    width: 100%;
}
.lichsu{
    .themluot-popup{
        width: 333px;
        height: 767px;
        background: url(../images/trungiai-bg.png) no-repeat center;
        display: inline-block;
        width: 100%;
    } 
}

.lichsu-tab{
    ul{
        display: inline-block;
        padding: 0;
        position: absolute;
        left: 47px;
        top: 138px;
        width: 234px;
        border: 0;
        li{
            display: inline-block;
            width: 50%;
            text-align: center;
            a{
                background: none !important;
                color: white !important;
                border: 0 !important;
                font-weight: bold;
                font-size: 16px;
                padding: 0;
            }
            &.active{
                position: relative;
                a{
                    color: #fec00f !important;
                    padding-bottom: 6px;
                }
                &::after{
                    width: 40px;
                    height: 2px;
                    background: white;
                    margin: auto;
                    content: '';
                    display: block;
                }
            }
        }
    }
    .tab-content{
        position: absolute;
        left: 53px;
        height: 480px;
        width: 234px;
        top: 181px;
        overflow-y: auto;
    }
}

.item-history{
    padding-left: 75px;
    position: relative;
    margin-bottom: 20px;
    img{
        position: absolute;
        left: 0;
        top: 0;
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    .infor-voucher{
        display: inline-block;
        width: 100%;
        span{
            color: #fec00f;
        }
        label{
            color: white;
            font-weight: bold;
            margin: 0;
        }
        i{
            font-style: italic;
            font-size: 12px;
            color: white;
        }
    }
}

.cocaugiaithuong{
    margin: 0;
    .col-md-6{
        float: left;
        width: 50%;
    }
    img{
        width: 100%;
        margin-bottom: 15px;
    }
}



.lutoconlai{
    display: inline-block;
    width: 100%;
    padding: 15px 0;
    margin: 0;
    color: white;
    margin-top: 16px;
    font-size: 18px;
    text-align: center;
    b{
        color:#fdbc0e;
    }
}

.moiluot-content{
    height: 416px;
    background: url(../images/moiluot.png) no-repeat center;
    display: inline-block;
    width: 333px;
}
.moiluot-content2{
    height: 416px;
    background: url(../images/mualuot-bg.png) no-repeat center !important;
    display: inline-block;
    width: 342px;
}
.body-moiluot-choi{
    position: absolute;
    width: 230px;
    left: 53px;
    top: 130px;
    a{
        display: inline-block;
        width: 100%;
        margin-top: 10px;
        text-align: center;
        img{
            width: auto;
        }
    }
    ul{display: inline-block;
        padding: 0;
        width: 100%;
        li{display: inline-block;
            width: 100%;
            padding-right: 30px;
            padding: 9px 0;
            position: relative;
            span{
                font-size: 16px;
                color: white;
            }
            .coin-zema{
                position: absolute;
                right: 0;
                top: 0px;
                span{
                    font-weight: bold;
                    color: #fec00f;
                }
                img{
                    width: 20px;
                    margin: auto;
                }
            }
        }
    }
}
.body-moiluot{
    position: absolute;
    width: 250px;
    left: 43px;
    top: 90px;
    text-align: center;
    p{
        font-size: 16px;
        font-weight: bold;
        color: white;
        b{
            color: #fec00f;
            font-size: 16px;
            margin: 20px 0 0;
            display: inline-block;
            width: 100%;
        }
    }
    input{
        background: white;
        height: 45px;
        border-radius: 10px;
        padding: 5px 10px;
        display: inline-block;
        width: 100%;
        margin-bottom: 20px;
    }
    img{
        width: auto;
    }
}

.modal-content {
    box-shadow: none;
    background: none;
    width: 333px;
    border: 0;
    margin: auto;
}





@media only screen and (max-width: 551px) {
    .game-body{
        max-width: 100% !important;
    }
    .modal-dialog{
        max-width: 100% !important;
        margin: auto !important;
        width: 100% !important;
    }
  }
@media only screen and (max-width: 330px) {
    .head-add{
        a{
            font-size: 12px;
        }
    }
  }